{% load i18n static cms_tags sass_tags sekizai_tags shop_tags %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/list-items.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% block shop-order-title %}
<div class="d-flex align-items-center flex-wrap my-3">
	<h4 class="text-nowrap mb-0">{% blocktrans with number=data.number context "order" %}Order {{ number }}{% endblocktrans %}</h4>
	<div class="text-nowrap ml-3">{% trans "from" context "order" %} <span>{{ data.created_at|date:"Y-m-d H:i" }}</span></div>
	<div class="ml-auto lead badge badge-primary">{{ data.status }}</div>
</div>
{% endblock %}

{% block shop-order-delivery %}
<div class="row mb-3">
	<div class="col-12 col-lg-6 my-2">
		<div class="card">
			<h5 class="card-header">{% trans "Shipping Address" context "order" %}</h5>
			<div class="card-body">
				<pre class="card-text">{{ data.shipping_address_text }}</pre>
			</div>
			<div class="card-footer text-primary">{% blocktrans with label=data.active_shipping_method.label context "order" %}Shipping Method: {{ label }}{% endblocktrans %}</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 my-2">
		<div class="card">
			<h5 class="card-header">{% trans "Billing Address" context "order" %}</h5>
			<div class="card-body">
				<pre class="card-text">{{ data.billing_address_text }}</pre>
			</div>
			<div class="card-footer text-primary">{% blocktrans with label=data.active_payment_method.label context "order" %}Payment Method: {{ label }}{% endblocktrans %}</div>
		</div>
	</div>
</div>
{% endblock %}

{% block shop-order-head %}
<h4>{% trans "Ordered Items" context "order" %}</h4>
{% endblock shop-order-head %}

{% block shop-order-body %}
	{% for item in data.items %}
<div class="shop-list-item row border-top py-2">
	<div class="col-12 col-md-6">
		<div class="row align-items-center flex-nowrap">
			<div class="col-2 text-right">
				{{ item.quantity }}<span class="px-1">&times;</span>
			</div>
      {% block order-item-summary %}
        {% if item.summary.media %}
          <div class="col-10">{{ item.summary.media }}</div>
        {% else %}
          <div class="col-10">{{ item.product_code }} {{ item.product_name }}</div>
        {% endif %}
      {% endblock %}
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="row text-nowrap flex-nowrap lead">
			<div class="col-6 text-right">{{ item.unit_price }}</div>
			<div class="col-4 col-md-6 text-right">{{ item.line_total }}</div>
		</div>
		{% for _, extra_row in item.extra.rows %}
		<div class="row text-muted text-nowrap flex-nowrap">
			<div class="col-6 text-right">{{ extra_row.label }}</div>
			<div class="col-4 col-md-6 text-right">{{ extra_row.amount }}</div>
		</div>
		{% endfor %}
	</div>
</div>
	{% endfor %}
{% endblock shop-order-body %}

{% block shop-order-foot %}
<div class="row mb-3">
	<div class="col-12 offset-md-6 col-md-6 border-top">
		<div class="row py-2 lead">
			<div class="col-6 text-right text-nowrap">
				{% trans "Subtotal" context "order" %}
			</div>
			<div class="col-4 col-md-6 text-right text-nowrap">
				{{ data.subtotal }}
			</div>
		</div>
	{% for key, extra_row in data.extra.rows %}
		<div class="row py-2">
			<div class="col-6 text-right text-nowrap">{{ extra_row.label }}</div>
			<div class="col-4 col-md-6 text-right text-nowrap">{{ extra_row.amount }}</div>
		</div>
	{% endfor %}
		<div class="row py-2 shop-double-border lead font-weight-bold">
			<div class="col-6 text-right text-nowrap">{% trans "Total" context "order" %}</div>
			<div class="col-4 col-md-6 text-right text-nowrap">{{ data.total }}</div>
		</div>
	</div>
</div>
{% endblock shop-order-foot %}
