{% load i18n static cms_tags sass_tags sekizai_tags shop_tags %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/list-items.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% block shop-order-title %}
<h4>{% page_attribute "page_title" %}</h4>
{% endblock %}

{% block shop-order-head %}
	{% if data.count == 0 %}
<div class="row lead text-muted py-1">
	<div class="col">
		{% trans "You have never ordered anything from this site." %}
	</div>
</div>
	{% endif %}
{% endblock shop-order-head %}

{% block shop-order-body %}
	{% for order in data.results %}
<div class="shop-list-item row border-top py-2">
	<div class="col-6 col-lg-auto order-1">
    {% block shop-order-first-column %}
    <div><a class="mr-lg-5 mr-3 lead text-nowrap" href="{{ order.url }}">{{ order.number }}</a></div>
    <div><small class="text-nowrap text-muted">{{ order.created_at|date:"Y-m-d H:i" }}</small></div>
    {% endblock %}
	</div>
	<div class="col-12 col-lg order-3 order-lg-2">
    {% for item in order.items %}
    <div>{{ item.quantity }} x {{ item.product_name }}</div>
    {% endfor %}
	</div>
	<div class="col-6 order-2 col-lg-auto text-right text-nowrap">
    <div class="badge badge-primary">{{ order.status }}</div>
    <div class="lead text-nowrap">{{ order.total }}</div>
	</div>
</div>
	{% endfor %}
{% endblock shop-order-body %}

{% block shop-order-foot %}{% if paginator.display_page_controls %}
<div class="row border-top py-3">
	<div class="col text-center" aria-label="{% trans 'Page navigation' %}">
		<ul class="pagination justify-content-center">{{ paginator.to_html }}</ul>
	</div>
</div>
{% endif %}{% endblock shop-order-foot %}
