{% load static sekizai_tags %}

{% addtoblock "js" %}<script src="{% static 'shop/js/checkout.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
    ANGULAR_APP_DEPENDENCIES.push('django.shop.checkout');
</script>
{% endaddtoblock "js" %}

<div ng-controller="checkoutPurchaseCtrl" class="d-flex justify-content-end py-3">
  <a href class="btn {{ instance.css_classes }}{% if cart.is_empty %} disabled{% endif %}" role="button"
    {% if instance.inline_styles %}style="{{ instance.inline_styles }}"{% endif %}
    ng-click="purchaseNow('{% url 'shop:checkout-purchase' %}')">
    {{ icon_top }}{{ icon_left }}{{ instance.glossary.button_text }}{{ icon_right }}
  </a>
</div>

{% if instance.glossary.extra_css %}
  {% include "cmsplus/includes/_extra_css.html" %}
{% endif %}
